
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAE3C9;
  padding: 10px 20px;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-left a, .nav-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  margin-left: 20px;
}

.nav-left a:hover, .nav-right a:hover {
  color: #ff9900;
}

header {
  width: 100%;
  text-align: center; 
}

.header-img {
  width: 100%;    
  height: auto;   
  display: block; 
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-text {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
